.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-size: 15px;
  font-weight: 700;
}
.deleteBtn {
  padding: 5px 10px;

  border: none;
  cursor: pointer;

  background-color: rgb(93, 93, 93);
  color: #fff;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: rgb(92, 140, 94);
}
